<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-17.2400.0.51" newVersion="17.2400.0.51" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Syncfusion.OfficeChart.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-17.2400.0.51" newVersion="17.2400.0.51" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-17.2451.0.51" newVersion="17.2451.0.51" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>