<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.88.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Syncfusion.Compression.Base" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.DocIO.AspNet.Mvc4" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.DocToPDFConverter.AspNet.Mvc4" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.DocToPDFConverter.AspNet.Mvc5" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.HtmlToPdfConverter.IE.AspNet.Mvc5" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.OfficeChart.Base" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.OfficeChartToImageConverter.AspNet.Mvc4" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.Pdf.AspNet.Mvc4" version="17.2.0.51" targetFramework="net452" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="17.2.0.51" targetFramework="net452" />
</packages>