.gantt-labels-header { overflow: hidden; }

.gantt-labels-header-row {
    box-sizing: border-box;
    height: 2em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}

.gantt-labels-header-row span {
    box-sizing: border-box;
    display: inline-block;
    height: 2em;
    overflow: hidden;
    padding-top: 0.5em;
    text-align: center;
    text-overflow: clip;
}

.gantt-labels-header-row-last { border-bottom: 1px solid #dddddd; }

.gantt-labels-header { overflow: hidden; }

.gantt-labels-body { overflow: hidden; }