@using WebApplication.Toolkit.HtmlHelperExtensions
@using Core.Entities
<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">Application</a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLinkSecure(EntityLabels.INCIDENTS, "Index", EntityLabels.INCIDENTS)</li>
                <li>@Html.ActionLinkSecure("Incident Types", "Index", "IncidentTypes")</li>
            </ul>
        </li>
    }
</ul>