@using WebApplication.Toolkit.HtmlHelperExtensions
@model Core.Entities.IncidentType
@using Core.Entities

@Html.ModalHeader(EntityLabels.INCIDENT_TYPE)

<form class="text-nowrap" novalidate="novalidate" name="IncidentTypesForm">
    <div class="form-horizontal">
        <div class="modal-body">

            <div class="form-group col-sm-6 col-md-6">
                @Html.CustomLabelFor(model => model.Name)
                <div class="col-md-8">
                    @Html.CustomEditorFor(model => model.Name)
                    @Html.CustomValidationMessageFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
</form>

